<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.SystemLogMapper">
    
    <resultMap id="BaseResultMap" type="com.exam.entity.SystemLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="operation" property="operation"/>
        <result column="method" property="method"/>
        <result column="params" property="params"/>
        <result column="ip" property="ip"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, user_id, username, operation, method, params, ip, create_time
    </sql>
    
    <select id="selectList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM system_log
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (username LIKE CONCAT('%', #{keyword}, '%') 
                 OR operation LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{limit}
    </select>
    
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM system_log
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (username LIKE CONCAT('%', #{keyword}, '%') 
                 OR operation LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO system_log (user_id, username, operation, method, params, ip, create_time)
        VALUES (#{userId}, #{username}, #{operation}, #{method}, #{params}, #{ip}, #{createTime})
    </insert>
    
    <!-- 删除指定天数之前的日志 -->
    <delete id="deleteByDaysAgo">
        DELETE FROM system_log
        WHERE create_time &lt; DATE_SUB(NOW(), INTERVAL #{days} DAY)
    </delete>
    
</mapper>
